<% include ../partials/header.ejs %>

<h1><%= course.name %></h1>
<img src="<%= course.image%>">
<p><%= course.description%></p>
<p>
    <a class="btn btn-success" href="/courses/<%= course._id %>/comments/new">Add a comment</a>
</p>

<!-- diplay comments -->
<% course.comments.forEach(function(comment){ %>
    <p>
        <strong>
            <%= comment.author %> -
        </strong>
        <%= comment.text %>
    </p>
<% }) %>

<% include ../partials/footer.ejs%>